.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.canvas {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.video {
  position: absolute;
  border-radius: 5em;
  left: 50%;
  transform: translate(-50%, 0);
}
.homepage {
  background: rgb(85,72,223);
background: linear-gradient(135deg, rgba(85,72,223,1) 0%, rgba(61,7,1,1) 48%, rgba(233,85,163,1) 100%);
}